.wrapper {
  position: relative;
}

/* Select the image with a class of kitty-1 */
.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 276px;
  left: 129px;
}

/* Select the image with id of kitty-2 */
#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 212px;
  left: 369px;
}

/* Select the image inside the element with an id of basket (using descendant selector) */
#basket img {
  position: absolute;
  z-index: 5;
  top: 291px;
  left: 319px;
}

/* Select the image immediately following the element with id of ball (adjacent sibling selector) */
#ball + img {
  position: absolute;
  z-index: 4;
  top: 260px;
  left: 455px;
}

/* Select the image with alt attribute value "Kitty 5" (attribute selector) */
img[alt="Kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 217px;
  left: 223px;
}
